.background-img {
    background-image: url('/assets/background/Skill_set_Background.png'); 
    background-size: cover; // Use "contain" if you want the entire image to be visible within the viewport
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
  }