* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; // Variable weight range
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('/assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; // Variable weight range
    font-style: normal;
}

.font-fira {
    font-family: 'Fira Code';
}

.font-karla {
    font-family: 'Karla';
}